# AIG RAG Pipeline requirements

# Core Data Processing
pandas==2.3.3
numpy==2.0.2

# Pyspark for chunking
pyspark==3.4.0

# Embeddings
sentence-transformers==5.1.2
torch==2.8.0

# openai
openai==2.30.0

# Dataset handling
datasets==4.5.04